<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../Static/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<body>
    <main class="main-home">
        <img src="../Static/logo.png.png">
        <p>A melhor maneira de administrar o seu dinheiro!</p>
        <div class="container">
            <button class="botao-entrar"> Entrar </button>
            <button class="botao-cadastrar"> Cadastrar-se</button>
        </div>
    </main>
</body>
</html>