<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Início</title>
    <link rel="stylesheet" href="../Static/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <main class="main-inicio">
        <div class="dinheiro">
            <p class="titulo">Seu Dinheiro:</p>
            <p class="valor">R$ 12.915</p>
        </div>

        <div class="tabela">
            <div class="receita">
                <p class="escrita">RECEITA</p>
                <p>___________</p>
                <p class="numero">15.000</p>
            </div>

            <div class="despesa">
                <p class="escrita">DESPESA</p>
                <p>___________</p>
                <p class="numero">2.085</p>
            </div>

            <div class="poupanca">
                <p class="escrita">POUPANÇA</p>
                <p>___________</p>
                <p class="numero">2.350</p>
            </div>
        </div>

        <div class="atividades">
            <p>Atividades Recentes:</p>

            <div class="primeira">
                <div class="container">
                    <div class="bloco1">
                        <p class="nome">FreeLancer</p>
                        <p class="data">16 de Janeiro</p>
                    </div>
                    <div class="bloco2">
                        <p class="valor">200,00</p>
                    </div>
                </div>
            </div>

            <div class="segunda">

            </div>

        </div>
    </main>
</body>
</html>